@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,900;1,500;1,600;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Preahvihear&family=Titillium+Web:ital,wght@0,600;1,400&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  /* overflow-x: hidden; */
}

body {
  /* overflow-x: hidden; */
}

.title-color {
  color: orange;
  font-size: 4rem;
}

:root {
  --primary_color: orange;
  --secondary_color: #000;
  --light_gray: #a1a1a1;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(
    107deg,
    rgba(241, 29, 40, 0.8) -20.5%,
    rgba(255, 135, 44, 0.8) 50.01%,
    rgba(254, 97, 44, 0.8) 92.29%,
    rgba(253, 58, 45, 0.8) 120.9%
  );
  --gradientGray: linear-gradient(
    0deg,
    #e3e3e3 0%,
    rgba(227, 227, 227, 0) 100%
  );
}

/* nav css start  */
.navbar {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Align the container to the center */
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 10rem;
  max-width: 1500px; /* Set the maximum width of the container */
  width: 100%;
}

.nav_list .nav_list_item {
  width: 50vw;
  /* font-size: 3vw; */
  font-size: 1.6em;
  text-decoration: none;
  margin: 1rem 1.6rem;
  color: #000;
}

.nav_list .nav_list_item:hover {
  color: var(--primary_color);
}

.nav_buttons .navbar_btn {
  font-size: 1.6em;
  text-decoration: none;
}

.main_button {
  background: #000;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: white;
}

.main_button:hover {
  background: var(--primary_color);
  transition-duration: 0.3s;
}

.button_outline:hover {
  border: 2px solid var(--primary_color);
  transition-duration: 0.3s;
}

.button_outline {
  border: 2px solid #000;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: #000;
  margin-left: 1rem;
}

.active {
  height: 3px;
  width: 3rem;
  margin: auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary_color);
}

/* Responsive icon setups */

.responsive_navbar_btn {
  display: none;
  cursor: pointer;
}

.menu_icon {
  font-size: 1.6rem;
}

.menu_icon[name="maki-cross"] {
  display: none;
}

.review_title {
  text-align: center;
  font-size: 4rem;
}

.review_title .title_discolor {
  color: var(--primary_color);
  font-size: 4rem;
}

.review_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

.google_review {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.google_review_font {
  font-size: 1.6rem;
}
/* nav css end  */

.aboutCar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
}

.aboutCar-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  border: 2px solid #ececec;
  padding: 7em 17em;
  border-radius: 3em;
}

.aboutCar-heading {
  font-size: 4rem;
  white-space: nowrap;
}

.aboutCar-subtitle {
  font-size: 1.5rem;
  color: #666;
}

.button {
  margin-top: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#nextBtn:hover {
  margin-top: 1em;
  padding: 1.2rem 1.6rem;
  border-radius: 3.2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background: transparent;
  width: 60%;
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
}

#nextBtn {
  margin-top: 1em;
  padding: 1.2rem 1.6rem;
  border-radius: 3.2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background: var(--gradient);
  border: 2px solid var(--primary_color);
  color: white;
  width: 60%;
}

#backBtn {
  margin-top: 1em;
  padding: 1.2rem 1.6rem;
  border-radius: 3.2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background: transparent;
  width: 35%;
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
}
#backBtn:hover {
  margin-top: 1em;
  padding: 1.2rem 1.6rem;
  border-radius: 3.2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background: var(--gradient);
  border: 2px solid var(--primary_color);
  color: white;
  width: 35%;
}

#registerBtn:hover {
  color: #000;
}

.question h2 {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.7em;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.answer {
  display: flex;
  justify-content: space-around;
}
.answer label {
  font-size: 1.5em;
  color: #656565;
}
.yes {
  display: flex;
  align-items: center;
  gap: 1em;
}
.no {
  display: flex;
  align-items: center;
  gap: 1em;
}

/* ====================================
Footer Area CSS Part Starts
==================================== */
.footer_container {
  height: fit-content;
  width: 100%;
  /* background: url(/assets/images/dark-car.gif); */
  background: url(../images/dark-car.gif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 6.4rem 12rem 0 12rem;
  margin: 0 auto;
}

.footer_container .footer_content {
  max-width: 1300px;
  margin: auto;
}

.footer_container .footer_content .footer_details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 6.4rem;
}

.footer_container .footer_content .footer_details .fast_t_list_item {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer_details .fast_t_list_item .fast_travel_links {
  font-size: 1.6rem;
}

.footer_container .footer_content .footer_details .footer_company_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
  padding-bottom: 6.4rem;
  width: 23%;
}

.footer_container .footer_content .footer_para,
.footer_timing_para {
  color: white;
  font-size: 1.6rem;
}

.footer_container .footer_content .copyright_para {
  color: white;
}

.footer_fast_travel {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer_fast_travel .fast_t_title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
}

.timing_color {
  color: orange;
  font-size: 1.6rem;
}

.footer_container
  .footer_content
  .footer_details
  .fast_t_list_item
  .fast_travel_links {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.footer_container
  .footer_content
  .footer_details
  .fast_t_list_item
  .fast_travel_links:hover {
  color: orange;
}

.social_media_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_media_icons .social_icons {
  height: 4rem;
  width: 4rem;
  font-size: 2.4rem;
  background: orange;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_media_icons .social_icons:hover {
  background: var(--white);
  color: orange;
}

.footer_copyright {
  padding: 4rem 0;
}

.footer_copyright .copyright_para {
  font-size: 1.6rem;
  font-weight: 400;
}

.webx {
  color: orange;
  font-size: 1.6rem;
  text-decoration: none;
}

.webx:hover {
  text-decoration: underline;
}
@media (max-width: 560px) {
  /* nav res start  */
   .navbar {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Align the container to the center */
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 1rem;
  max-width: 1500px; /* Set the maximum width of the container */
  width: 100%;
}

  .responsive_navbar_btn {
    display: block;
    z-index: 999;
  }
  .nav_list,
  .nav_buttons {
    display: none;
  }

  .responsive_menu_popup {
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #000;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    z-index: 9;
  }

  .active {
    margin: 0;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
  }

  .active_res_nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .res_nav_list,
  .res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .res_nav_list_item {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
  }

  .res_navbar_btn {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-menu"] {
    display: block;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-cross"] {
    display: none;
  }

  /* nav res ends  */

  .aboutCar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 2em;
  }

  .aboutCar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    border: 2px solid #ececec;
    padding: 4em 0;
    border-radius: 3em;
    width: 100%;
  }

  .button {
    display: flex;
    width: 85%;
    justify-content: space-between;
  }

  .aboutCar-heading {
    text-align: center;
    font-size: 2.5rem;
  }

  .login-heading {
    font-size: 3rem;
  }

  .terms {
    font-size: 1.3em;
  }
  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6.4rem;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}

/* For tabs  */

@media (min-width: 560px) and (max-width: 980px) {
  #bil_layout {
    margin: 0 4rem;
  }
  /* nav res start  */
   .navbar {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Align the container to the center */
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 4rem;
  max-width: 1500px; /* Set the maximum width of the container */
  width: 100%;
}

  .responsive_navbar_btn {
    display: block;
    z-index: 999;
  }
  .nav_list,
  .nav_buttons {
    display: none;
  }

  .responsive_menu_popup {
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #000;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    z-index: 9;
  }

  .active {
    margin: 0;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
  }

  .active_res_nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .res_nav_list,
  .res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .res_nav_list_item {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
  }

  .res_navbar_btn {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-menu"] {
    display: block;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-cross"] {
    display: none;
  }

  /* nav res ends  */

  .aboutCar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 2em;
  }

  .aboutCar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    border: 2px solid #ececec;
    padding: 4em 0;
    border-radius: 3em;
    width: 70%;
  }

  .aboutCar-heading {
    text-align: center;
    font-size: 3.5rem;
  }

  .button {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6.4rem;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}

@media (min-width: 560px) and (max-width: 750px) {
  .aboutCar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    border: 2px solid #ececec;
    padding: 4em 0;
    border-radius: 3em;
    width: 92%;
  }

  .aboutCar-heading {
    text-align: center;
    font-size: 3.5rem;
  }

  .button {
    display: flex;
    width: 70%;
    justify-content: space-between;
  }
}

/* for laptops  */

@media (min-width: 980px) and (max-width: 1350px) {
   .navbar {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Align the container to the center */
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 5rem;
  max-width: 1500px; /* Set the maximum width of the container */
  width: 100%;
}


  .aboutCar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    border: 2px solid #ececec;
    padding: 4em 14em;
    border-radius: 3em;
    width: 60%;
  }

  .button {
    width: 70%;
  }

  .aboutCar-heading {
    font-size: 3rem;
  }

  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    padding: 0 5em 6.4rem 5em;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}
