@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,900;1,500;1,600;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Preahvihear&family=Titillium+Web:ital,wght@0,600;1,400&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  /* overflow-x: hidden; */
}

body {
  /* overflow-x: hidden; */
}

.title-color {
  color: orange;
  font-size: 4rem;
}

:root {
  --primary_color: orange;
  --secondary_color: #000;
  --light_gray: #a1a1a1;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(
    107deg,
    rgba(241, 29, 40, 0.8) -20.5%,
    rgba(255, 135, 44, 0.8) 50.01%,
    rgba(254, 97, 44, 0.8) 92.29%,
    rgba(253, 58, 45, 0.8) 120.9%
  );
  --gradientGray: linear-gradient(
    0deg,
    #e3e3e3 0%,
    rgba(227, 227, 227, 0) 100%
  );
  --gradientGrey: linear-gradient(
    180deg,
    #fafafa -28.46%,
    #ededed 30.73%,
    rgba(255, 255, 255, 0.08) 101.89%,
    rgba(246, 246, 246, 0) 168.79%
  );
}

/* nav css start  */
.navbar {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: center; /* Align the container to the center */
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 10rem;
  max-width: 1500px; /* Set the maximum width of the container */
  width: 100%;
}
.nav_list .nav_list_item {
  width: 50vw;
  /* font-size: 3vw; */
  font-size: 1.6em;
  text-decoration: none;
  margin: 1rem 1.6rem;
  color: #000;
}

.nav_list .nav_list_item:hover {
  color: var(--primary_color);
}

.nav_buttons .navbar_btn {
  font-size: 1.6em;
  text-decoration: none;
}

.main_button {
  background: #000;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: white;
}

.main_button:hover {
  background: var(--primary_color);
  transition-duration: 0.3s;
}

.button_outline:hover {
  border: 2px solid var(--primary_color);
  transition-duration: 0.3s;
}

.button_outline {
  border: 2px solid #000;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: #000;
  margin-left: 1rem;
}

.menu-link.active {
  color: #f4793d;
}

/* Responsive icon setups */

.responsive_navbar_btn {
  display: none;
  cursor: pointer;
}

.menu_icon {
  font-size: 1.6rem;
}

.menu_icon[name="maki-cross"] {
  display: none;
}

.review_title {
  text-align: center;
  font-size: 4rem;
}

.review_title .title_discolor {
  color: var(--primary_color);
  font-size: 4rem;
}

.review_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

.google_review {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.google_review_font {
  font-size: 1.6rem;
}
/* nav css end  */

/* main css start  */

.sellDash-container {
  padding: 0 6rem;
  max-width: 1300px;
  margin: auto;
}

.head h2 {
  font-size: 1.5em;
  /* padding-top: 3em; */
  color: #909090;
}
.sellDash-container .head {
  display: flex;
  justify-content: space-between;
  padding-top: 10em;
  align-items: center;
}
.sellDash-container .head .left {
  width: 15%;
  padding-left: 8em;
}
.sellDash-container .head .mid {
  border-bottom: 1px solid #cfcfcf;
  width: 70%;
}
.sellDash-container .head .right {
  width: 15%;
  display: flex;
  gap: 2em;
  align-items: center;
}

.user-dashboard {
  display: flex;
  align-items: center;
}

.sellDash-container .head .right img {
  object-fit: contain;
  padding-left: 1em;
}
.sellDash-container .head .right h2 {
  font-size: 1.5em;
  color: #000;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1.2em;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.logout {
  display: flex;
  align-items: center;
  gap: 1em;
}
.logout:hover {
  background-color: #f1f1f1;
}
.menu-container {
  display: flex;
  margin-top: 5em;
  margin-bottom: 2em;
  gap: 4em;
}
.menu-container .menu .img-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.menu-container .menu .img-wrapper img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.dropdown .userImg {
  height: 50px;
  width: 50px;
}
.dropdown .userImg img {
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.hello {
  display: flex;
  align-items: center;
  gap: 1em;
}

.menu-container #my-cars,
#current-biddings {
  width: 100%;
}

.slide {
  display: none;
}
.menu-container .details-user {
  padding: 5em 5em 6em 5em;
  width: 100%;
  border: 1px solid #fff8f8;
  border-radius: 4em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 8em;
  background-color: #f5f5f5;
}
.menu-container .details-user .basicInfo {
  font-weight: bold;
  font-size: 2.2rem;
}
.menu-container .details-user .name {
  display: flex;
  justify-content: space-between;
}

.menu-container .details-user .cityCode {
  display: flex;
  justify-content: space-between;
}
.menu-container .details-user input {
  border-radius: 15px;
  font-size: 1.5rem;
  padding: 1em 1.3em;
  border: 1px solid #ccc;
  /* background-color: #ECECEC; */
}
#oPassword,
#nPassword,
#cPassword {
  outline-color: orange;
}

.updateProfile {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-top: 1.6em;
}
.changePassword {
  display: flex;
  gap: 1em;
  align-items: center;
}

.updateProfile .profile-User img {
  object-fit: contain;
  height: 1em;
}

#updateBtn:hover {
  margin-top: 1em;
  padding: 1.2rem 1.6rem;
  border-radius: 3.2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background: transparent;
  width: 20%;
  border: 2px solid var(--primary_color);
  color: var(--primary_color);
}

#updateBtn {
  margin-top: 1em;
  padding: 1.2rem 1.6rem;
  border-radius: 3.2rem;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
  background: var(--gradient);
  border: 2px solid transparent;
  color: white;
  width: 20%;
}
.menu-container .menu {
  padding: 2em 2em 5em 2em;
  width: 20vw;
  height: fit-content;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 4em;
  align-items: center;
  height: 60vh;
}
.menu .profile {
  font-weight: bold;
  font-size: 1.7rem;
  color: #000000;
  margin-top: 0.5em;
  letter-spacing: 0.5px;
}
.menu .userName {
  margin-top: 1em;
  font-weight: bold;
  font-size: 2rem;
  color: #ff872c;
}
.menu .userAddress {
  font-size: 1.3rem;
  color: #8a8a8a;
}
.menu a {
  text-decoration: none;
  color: #000;
  font-size: 1.5em;
}

.menu-container .details-user .name input {
  width: 48%;
}

.menu-container .details-user .cityCode input {
  width: 48%;
}

/* ====================================
Footer Area CSS Part Starts
==================================== */

.footer_container {
  height: fit-content;
  width: 100%;
  /* background: url(/assets/images/dark-car.gif); */
  background: url(../images/dark-car.gif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 6.4rem 12rem 0 12rem;
  margin: 0 auto;
}

.footer_container .footer_content {
  max-width: 1400px;
  margin: auto;
}

.footer_container .footer_content .footer_details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 6.4rem;
}

.footer_container .footer_content .footer_details .fast_t_list_item {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer_details .fast_t_list_item .fast_travel_links {
  font-size: 1.6rem;
}

.footer_container .footer_content .footer_details .footer_company_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
  padding-bottom: 6.4rem;
  width: 23%;
}

.footer_container .footer_content .footer_para,
.footer_timing_para {
  color: white;
  font-size: 1.6rem;
}

.footer_container .footer_content .copyright_para {
  color: white;
}

.footer_fast_travel {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer_fast_travel .fast_t_title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
}

.timing_color {
  color: orange;
  font-size: 1.6rem;
}

.footer_container
  .footer_content
  .footer_details
  .fast_t_list_item
  .fast_travel_links {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.footer_container
  .footer_content
  .footer_details
  .fast_t_list_item
  .fast_travel_links:hover {
  color: orange;
}

.social_media_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_media_icons .social_icons {
  height: 4rem;
  width: 4rem;
  font-size: 2.4rem;
  background: orange;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social_media_icons .social_icons:hover {
  background: var(--white);
  color: orange;
}

.footer_copyright {
  padding: 4rem 0;
}

.footer_copyright .copyright_para {
  font-size: 1.6rem;
  font-weight: 400;
}

.webx {
  color: orange;
  font-size: 1.6rem;
  text-decoration: none;
}

.webx:hover {
  text-decoration: underline;
}

/*----------------------------------
====================================
Footer Area CSS Part ends
====================================
------------------------------------*/

@media (max-width: 560px) {
  /* nav res start  */
  .navbar {
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    justify-content: center; /* Align the container to the center */
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 1rem;
    max-width: 1500px; /* Set the maximum width of the container */
    width: 100%;
  }

  .responsive_navbar_btn {
    display: block;
    z-index: 999;
  }
  .nav_list,
  .nav_buttons {
    display: none;
  }

  .responsive_menu_popup {
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #000;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    z-index: 9;
  }

  .active {
    margin: 0;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
  }

  .active_res_nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .res_nav_list,
  .res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .res_nav_list_item {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
  }

  .res_navbar_btn {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-menu"] {
    display: block;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-cross"] {
    display: none;
  }

  /* nav res ends  */

  .sellDash-container {
    padding: 0 2rem;
  }

  .sellDash-container .head {
    display: flex;
    padding-top: 10em;
    flex-direction: row;
    align-items: center;
  }
  .head h2 {
    font-size: 1.5rem;
    color: #909090;
    white-space: nowrap;
  }

  .menu-link.active {
    /* font-size: 1.3em; */
    padding: 0;
    color: #f4793d;
  }

  .sellDash-container .head .left {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    padding-left: 0;
  }
  .sellDash-container .head .mid {
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    margin-bottom: 2em;
    margin-left: 2em;
  }
  .sellDash-container .head .right {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2em;
  }
  .sellDash-container .head .right h2 {
    display: none;
  }

  .sellDash-container .head .right img {
    padding-left: 0;
  }

  .menu-container {
    gap: 4em;
    flex-direction: column;
  }

  .menu-container .menu {
    padding: 2em 2em 5em 2em;
    width: 100%;
    height: fit-content;
  }

  .menu-container .details-user {
    padding: 3em 2em 3em 2em;
    width: 100%;
  }

  .menu-container .details-user .name {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2.5em;
  }

  .menu-container .details-user .name input {
    width: 100%;
  }

  .menu-container .details-user .cityCode {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 2.5em;
  }
  .menu-container .details-user .cityCode input {
    width: 100%;
  }

  #updateBtn {
    width: 100%;
  }

  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6.4rem;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}
@media (min-width: 560px) and (max-width: 980px) {
  /* nav res start  */
  .navbar {
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    justify-content: center; /* Align the container to the center */
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 4rem;
    max-width: 1500px; /* Set the maximum width of the container */
    width: 100%;
  }

  .responsive_navbar_btn {
    display: block;
    z-index: 999;
  }
  .nav_list,
  .nav_buttons {
    display: none;
  }

  .responsive_menu_popup {
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #000;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    z-index: 9;
  }

  .active {
    margin: 0;
    padding-bottom: 2em;
    /* border-bottom: 2px solid black; */
  }

  .active_res_nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .res_nav_list,
  .res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .res_nav_list_item {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
  }

  .res_navbar_btn {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-menu"] {
    display: block;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-cross"] {
    display: none;
  }

  /* nav res ends  */

  .sellDash-container {
    padding: 0 4rem;
  }

  .sellDash-container .head {
    display: flex;
    padding-top: 10em;
    flex-direction: row;
    align-items: center;
  }
  .head h2 {
    font-size: 1.5rem;
    color: #909090;
    white-space: nowrap;
  }

  .menu-link.active {
    /* font-size: 1.3em; */
    padding: 0;
    color: #f4793d;
  }

  .sellDash-container .head .left {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;
    padding-left: 0;
  }
  .sellDash-container .head .mid {
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
    margin-bottom: 2em;
    margin-left: 2em;
  }
  .sellDash-container .head .right {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 2em;
  }
  .sellDash-container .head .right h2 {
    display: none;
  }

  .sellDash-container .head .right img {
    padding-left: 0;
  }

  .menu-container {
    gap: 4em;
    flex-direction: column;
  }

  .menu-container .menu {
    padding: 2em 2em 5em 2em;
    width: 100%;
    height: fit-content;
  }

  .menu-container .details-user {
    padding: 3em 2em 4em 2em;
  }

  .menu-container .details-user .name {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2.5em;
  }

  .menu-container .details-user .name input {
    width: 100%;
  }

  .menu-container .details-user .cityCode {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2.5em;
  }
  .menu-container .details-user .cityCode input {
    width: 100%;
  }

  #updateBtn {
    width: 30%;
    margin: auto;
  }

  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6.4rem;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}

@media (min-width: 560px) and (max-width: 750px) {
  .contact-container {
    border: 2px solid #ececec;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 4em 0;
    border-radius: 3em;
    width: 92%;
  }

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 2em;
  }
  .contact-subtitle {
    text-align: center;
    font-size: 1.4rem;
    color: #666;
  }
  .contact-validations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.2rem 0;
    margin: auto;
    width: 70%;
  }

  .contact-heading {
    font-size: 2.5rem;
  }

  .terms {
    font-size: 1.3em;
  }
  #name,
  #orgNo,
  #dealerName,
  #phone,
  #address,
  #postal,
  #city {
    width: 70%;
  }
  .uploadDoc {
    width: 70%;
    padding: 3em 3em;
  }
}
/* for laptops  */

@media (min-width: 980px) and (max-width: 1350px) {
  .navbar {
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    justify-content: center; /* Align the container to the center */
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 999;
  }

  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 5rem;
    max-width: 1500px; /* Set the maximum width of the container */
    width: 100%;
  }

  .sellDash-container {
    padding: 0 5rem;
  }
  .sellDash-container .head {
    width: 98%;
  }

  .sellDash-container .head .left {
    width: 15%;
    padding-left: 0;
  }

  .menu-container .menu {
    padding: 2em 2em 5em 2em;
    width: 20%;
    height: fit-content;
  }

  .user-immg img {
    height: 140px;
  }
  .menu .userName {
    margin-top: 1em;
    font-weight: bold;
    font-size: 1.9rem;
    color: #ff872c;
  }
  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 4rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid lightgray;
    padding: 0 5em 6.4rem 5em;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}
