@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,300;0,400;0,500;0,600;0,900;1,500;1,600;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,800;1,900&family=Preahvihear&family=Titillium+Web:ital,wght@0,600;1,400&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 500;
  /* overflow-x: hidden; */
}

.title-color {
  color: orange;
  font-size: 4rem;
}

:root {
  --primary_color: orange;
  --secondary_color: #000;
  --light_gray: #a1a1a1;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(
    107deg,
    rgba(241, 29, 40, 0.8) -20.5%,
    rgba(255, 135, 44, 0.8) 50.01%,
    rgba(254, 97, 44, 0.8) 92.29%,
    rgba(253, 58, 45, 0.8) 120.9%
  );
  --gradientGray: linear-gradient(
    0deg,
    #e3e3e3 0%,
    rgba(227, 227, 227, 0) 100%
  );
  --gradientGrey: linear-gradient(
    180deg,
    #fafafa -28.46%,
    #ededed 30.73%,
    rgba(255, 255, 255, 0.08) 101.89%,
    rgba(246, 246, 246, 0) 168.79%
  );
}

.navbar {
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 12rem;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.nav_list .nav_list_item {
  width: 50vw;
  /* font-size: 3vw; */
  font-size: 1.6em;
  text-decoration: none;
  margin: 1rem 1.6rem;
  color: #000;
}

.nav_list .nav_list_item:hover {
  color: var(--primary_color);
}

.nav_buttons .navbar_btn {
  font-size: 1.6em;
  text-decoration: none;
}

.main_button {
  background: #000;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: white;
}

.main_button:hover {
  background: var(--primary_color);
  transition-duration: 0.3s;
}

.button_outline:hover {
  border: 2px solid var(--primary_color);
  transition-duration: 0.3s;
}

.button_outline {
  border: 2px solid #000;
  padding: 1rem 3rem;
  border-radius: 3rem;
  color: #000;
  margin-left: 1rem;
}

.active {
  height: 3px;
  width: 3rem;
  margin: auto;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--primary_color);
}

/* Responsive icon setups */

.responsive_navbar_btn {
  display: none;
  cursor: pointer;
}

.menu_icon {
  font-size: 1.6rem;
}

.menu_icon[name="maki-cross"] {
  display: none;
}

.review_container {
}

.review_title {
  text-align: center;
  font-size: 4rem;
}
.review_title .title_discolor {
  color: var(--primary_color);
  font-size: 4rem;
}

.review_holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 2rem;
}

.google_review {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.google_review_font {
  font-size: 1.6rem;
}
.submit_btn:hover {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
}
.submit_btn {
  background: var(--gradient);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  color: white;
  border: 2px solid var(--primary_color);
}
.signin{
   background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
}
.signin:hover{
  background: var(--gradient);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  color: white;
  border: 2px solid var(--primary_color);
}
.submit:hover {
  background: transparent;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  margin-top: 2em;
  color: var(--primary_color);
  border: 2px solid var(--primary_color);
}
.submit {
  background: var(--gradient);
  border: none;
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
  border-radius: 3rem;
  color: white;
  margin-top: 2em;
  border: 2px solid var(--primary_color);
}

/* herosec of retailers starts from here  */
.retailer-mainContainer {
  padding: 15em 12em;
  display: flex;
  align-items: center;
}
.retailer-mainContainer .retailer1 {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.retailer-mainContainer .retailer1 h1 {
  font-size: 4em;
  line-height: 1.2em;
}
.retailer-mainContainer .retailer1 .heading p {
  width: 90%;
  margin-top: 2em;
  font-size: 1.5em;
  color: #51585a;
}
.retailer-mainContainer .retailer2 {
  width: 60%;
}

.retailer-mainContainer .retailer1 .tick .item {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}
.retailer-mainContainer .retailer1 .tick .item p {
  font-size: 1.4em;
  font-weight: 600;
}
.retailer-mainContainer .retailer1 .tick .item img {
  object-fit: contain;
}

.buttons {
  display: flex;
  gap: 10px;
}

/* ===============================================
Blog Card Carousel Styles Start from here: 
==================================================*/

.user-persona {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 0 0 5em 0;
  margin: 4rem 0;
}

.user-card-item {
  width: 30rem;
  object-fit: cover;
  padding: 0.8rem;
  border: 1px solid white;
  border-radius: 3rem;
  background: var(--gradientGray);
}

.user-image {
  /* height: 200px; */
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
  object-position: top;
}

.user-card-content {
  text-align: center;
  padding: 0.8rem;
}

.user-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.user-persona-para {
  color: #888;
  font-size: 1.4rem;
  padding: 1.4rem 0;
}

/* herosec of retailers ends here  */

/* <!-- Contact sec starts from here  -->  */
.contact-title h1 {
  text-align: center;
  font-size: 3.4em;
  padding-bottom: 3em;
}

.contact-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 2em 10em 2em;
}
.contact-flex .inputs {
  width: 30%;
}

#name:focus {
  outline: none;
  border: 1px solid #FF872C !important;
}
#email:focus {
  outline: none;
  border: 1px solid #FF872C !important;
}
#phone:focus {
  outline: none;
  border: 1px solid #FF872C !important;
}
#message:focus {
  outline: none;
  border: 1px solid #FF872C !important;
}

.contact-flex .input-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact-flex .input-field input {
  padding: 1em;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 1.2em;
}
.contact-flex .input-field textarea {
  padding: 1em;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  font-size: 1.2em;
}

.contact-details img {
  width: 200px;
}
.contact-details h4 {
  margin-top: 10px;
  font-size: 1.9em;
  font-weight: 600;
}
.contact-details h4 span {
  margin-top: 10px;
  font-size: 1em;
  color: #f4793d;
}
.contact-details .details {
  margin-top: 25px;
}

.questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.questions strong {
  font-weight: 600;
  font-size: 2em;
}

/* .......................... */

/* .......................... */
.users-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 10em;
}
.users-container .item img {
  height: 70px;
}
.users-container .item p {
  font-size: 1.7rem;
  color: #51585a;
}
.users-container .item h2 {
  font-weight: bold;
  font-size: 4rem;
  color: #51585a;
}

/* .......................... */

.moreCars-container {
  padding-bottom: 10em;
}
.moreCars-container .title {
  text-align: center;
  font-size: 3.5rem;
  color: #f4793d;
  padding-bottom: 2em;
}

.moreCars .container {
  border: 2px solid #cfcfcf;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  width: 55%;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 3em;
}
.moreCars .container .imgsec img {
  height: 200px;
  object-fit: cover;
}
.moreCars .container .car-details h3 {
  font-weight: bold;
  font-size: 1.7em;
  margin-top: 1em;
}

.moreCars .container .car-details .features p {
  color: #555555;
  font-size: 1.3em;
}

.moreCars .container .car-details h5 {
  margin-top: 1.4em;
  font-weight: bold;
  font-size: 1.2em;
}
.moreCars .container .bid h2 {
  color: #ff872c;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 70%;
  font-size: 1.6rem;
  font-weight: bold;
}

.car-details .features {
  margin-top: 1.4em;
  display: flex;
  gap: 4em;
}

.buttom-retail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding-top: 1em;
}
.buttom-retail p {
  font-size: 1.5em;
}

/*----------------------------------
====================================
Footer Area CSS Part Starts
====================================
------------------------------------*/
.footer_container {
  height: 80vh;
  width: 100%;
  /* background: url(/assets/images/dark-car.gif); */
  background: url(../images/dark-car.gif);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 6.4rem 12rem;
  margin: 0 auto;
}

.footer_container {
}

.footer_container .footer_content .footer_details {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding-bottom: 6.4rem;
}

.footer_container .footer_content .footer_details .fast_t_list_item {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.footer_details .fast_t_list_item .fast_travel_links {
  font-size: 1.6rem;
}

.footer_container .footer_content .footer_details .footer_company_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3.2rem;
  padding-bottom: 6.4rem;
  width: 23%;
}

.footer_container .footer_content .footer_para,
.footer_timing_para {
  color: white;
  font-size: 1.6rem;
}

.footer_container .footer_content .copyright_para {
  color: white;
}

.footer_fast_travel {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.footer_fast_travel .fast_t_title {
  color: white;
  font-size: 2.4rem;
  font-weight: 600;
}

.timing_color {
  color: orange;
  font-size: 1.6rem;
}

.footer_container
  .footer_content
  .footer_details
  .fast_t_list_item
  .fast_travel_links {
  text-decoration: none;
  color: white;
  font-weight: 400;
}

.footer_container
  .footer_content
  .footer_details
  .fast_t_list_item
  .fast_travel_links:hover {
  color: orange;
}

.social_media_icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social_media_icons .social_icons {
  height: 4rem;
  width: 4rem;
  font-size: 2.4rem;
  background: orange;
  color: white;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.social_media_icons .social_icons:hover {
  background: var(--white);
  color: orange;
}

.footer_copyright {
  padding: 4rem 0;
}

.footer_copyright .copyright_para {
  font-size: 1.6rem;
  font-weight: 400;
}

.webx {
  color: orange;
  font-size: 1.6rem;
  text-decoration: none;
}

.webx:hover {
  text-decoration: underline;
}

/* ================================================
...................................................
             Media Query Starts from here
..................................................
==================================================*/

@media (max-width: 560px) {
  .navbar {
    background-color: var(--white);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    position: fixed;
    z-index: 999;
  }

  .responsive_navbar_btn {
    display: block;
    z-index: 999;
  }
  .nav_list,
  .nav_buttons {
    display: none;
  }

  .responsive_menu_popup {
    background: orange;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    color: #000;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
  }

  .active {
    margin: 0;
    padding-bottom: 2em;
    border-bottom: 2px solid black;
  }

  .active_res_nav {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .res_nav_list,
  .res_nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .res_nav_list_item {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    color: var(--black);
  }

  .res_navbar_btn {
    text-decoration: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-menu"] {
    display: block;
  }

  .active_res_nav .responsive_navbar_btn .menu_icon[name="maki-cross"] {
    display: none;
  }

  .retailer-mainContainer {
    padding: 15em 2em 0 2em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 9em;
  }
  .retailer-mainContainer .retailer1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5em;
  }
  .retailer1 .heading {
    width: 100%;
    text-align: center;
  }
  .retailer-mainContainer .retailer1 .heading p {
    width: 100%;
  }
  .tick{
    margin: auto;
  }
  .retailer-mainContainer .retailer1 .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
  }
  /* .retailer-mainContainer .retailer1 .buttons .signin{
  width: 100%;
  margin: auto;
} */
  .retailer-mainContainer .retailer2 {
    width: 100%;
  }
  .user-persona {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7em;
    padding: 0 0 5em 0;
    margin: 4rem 0;
  }

  .users-container {
    width: 90%;
    flex-direction: column;
    gap: 3em;
    padding-bottom: 7em;
  }
  .user-card-item {
    width: 90%;
    object-fit: cover;
    padding: 0.8rem;
    border: 1px solid white;
    border-radius: 3rem;
    background: var(--gradientGray);
}
.moreCars .container .car-details h3 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
  .moreCars .container {
    border: 2px solid rgb(207, 207, 207);
    border-radius: 20px;
    padding: 2em;
    display: flex;
    width: 90%;
    margin: auto auto 3em;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;
  }

  /* contact sec  */

  .contact-title h1 {
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 3em;
  }

  .contact-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10em;
    flex-wrap: wrap;
    gap: 5em;
  }
  .questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-flex .inputs {
    width: 90%;
    margin: auto;
  }
  .contact-flex .inputs .submit_btn {
    margin-top: 2em;
    width: 50%;
  }
  .contact-details {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .moreCars-container .buttom {
    padding: 0 2em;
    text-align: center;
  }

  .moreCars-container {
    padding-bottom: 7em;
  }

  .moreCars-container .buttom .submit_btn {
    background: var(--gradient);
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    color: white;
  }

  /* footer responsive  */

  .footer_container {
    height: 100%;
    width: 100%;
    /* background: url(/assets/images/dark-car.gif); */
    background: url(../images/dark-car.gif);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem 0 0 0;
    margin: 0 auto;
  }

  .footer_container .footer_content {
    padding: 0 1rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .footer_container .footer_content .footer_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    padding-bottom: 6.4rem;
    flex-wrap: wrap;
    text-align: center;
    gap: 3em;
  }
  .footer_container .footer_content .footer_details .footer_company_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    padding-bottom: 3.2rem;
    width: 100%;
  }
  .footer_container .footer_content .copyright_para {
    text-align: center;
  }
}
